@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgb(0, 198, 255) 0%,
    rgb(0, 114, 255) 100%
  );
}

.header {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: white;
}
